body { 
    font-family: Arial, sans-serif; 
    display: flex; 
    height: 100vh; 
    margin: 0; 
    background-color: #2e2723;
}

select { 
    padding: 2vh; 
    margin: 2vh; 
    width: 50vh;
    font-size: 2vh;
    margin-left: 6vh;
}

button {
    padding: 2.3vh; 
    margin: 2vh; 
    width: 30vh;
    height: 7vh;
    font-size: 2.4vh;
}

.blocoPrincipal { 
    text-align: left; 
    width: 70vw; 
    border-right: 3px solid #000000; 
    margin-right: 5vh;
}

.botaoSugestoes {
    background-color: #767d4d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.7vh;
    border: 1px solid #121212;
}

.botaoSugestoes:hover,
.botaoSugestoes:focus {
    background-color: #52582e;
    text-decoration: none;
    cursor: pointer;
}

.dicasDeManejo {
    width: 25vw; 
}

.cardsDiv {
    display: flex;
    margin-left: 3vh;
}

.tituloSugestoes {
    font-size: 6vh;
    padding-left: 6vh;
    color: #767d4d;
}

.tituloDicas {
    font-size: 6vh;
    padding-left: 6vh;
    color: #ffffff;
}

.cards {
    padding-left: 3vh;
    margin-top: -3vh;
    display: flex;
    flex-direction: column;
}

.card {
    background-color: #767d4d;
    border: none;
    cursor: pointer;
    border-radius: 0.7vh;
    font-size: 3vh;
    width: 17vh;
    height: 17vh;
    border: 1px solid #121212;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover,
.card:focus {
    background-color: #52582e;
    transform: translateY(-5px); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); 
    text-decoration: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #888583;
    margin: auto;
    padding: 20px;
    border: 2px solid #000000;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.close {
    color: #3d3d3d;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sugestoes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35vh, 0fr));
    gap: 2vh;
    margin-top: 5vh;
    margin-left: 6vh;
    margin-right: -1vh;
}

.sugestao-card {
    background-color: #767d4d;
    padding: 1vh;
    border-radius: 1vh;
    border: 1px solid #121212;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.sugestao-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.sugestao-title {
    font-size: 1.4em;
    color: #ffffff;
    margin-bottom: 10px;

}

.sugestao-motivo {
    font-size: 1em;
    color: #ffffff;
}

.sugestoesTitulo {
    margin-left: 20vh;
    font-size: 4vh;
    color: #767d4d;
}

.imagem {
    width: 10vh;
    height: 10vh;
}

.imagemCana {
    width: 7vh;
    height: 7vh;
}